* {
  box-sizing: border-box;
}

.wrapper{
  background-color: #f8f8f8;
  font-size: 14px;
  a{
    text-decoration: none;
  }
  header{
    .logo_frame{
      text-align: center;
      .furima-logo{
        width: 140px;
        vertical-align: middle;
        margin: 30px auto 0;
      }
    }
  }
  .main__frame{
    width: 800px;
    background-color: white;
    margin: 0 auto;
    .main__box{
      width: 400px;
      margin: 0 auto;
      padding: 30px 0;
      hr {
        width: 400px;
        height: 2px;
        background-color: #f8f8f8;
        border: 0;
      }
      h1{
        font-size: 24px;
        font-weight: 600;
      }
      h2{
        font-size: 20px;
        font-weight: 600;
      }
      h3{
        font-weight: 600;
      }
      &--title{
        text-align: center;
        margin-bottom: 30px;
      }
      &--product{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        .product-img{
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }
        .contents{
          margin-left: 20px;
          .content{
            margin-bottom: 10px;
          }
          .prices{
            .product-price{
              display: flex;
              justify-content: space-between;
              .title{
              }
              .price{
                font-weight: 600;
                margin-left: 120px;
              }
            }
            .shipping-fee{
              display: flex;
              justify-content: space-between;
              .title{
              }
              .fee{
                font-weight: 600;
              }
            }
          }
        }
      }
      &--price{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
      }
      &--creditcard{
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;

        a:link{color: #3CCACE;}
        a:visited{color: #3CCACE;}
        a:hover{
          color: #ffb340;
          text-decoration: underline;
        }
        a:active{color: #3CCACE;}
        .title{
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }
      &--shipping{
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;

        a:link{color: #3CCACE;}
        a:visited{color: #3CCACE;}
        a:hover{
          color: #ffb340;
          text-decoration: underline;
        }
        a:active{color: #3CCACE;}
        .title{
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }
      &--purchase{
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;
       
        .purchase-notice{
          margin-bottom: 30px;
        }
        .purchase-btn{
          border-radius: 100px;
          border: none;
          font-weight: 600;
          font-size: 20px;
          width: 400px;
          height: 50px;
          background-color: #3CCACE;
          cursor: pointer;
          text-align: center;
          padding: 10px;
        }
        .buy-btn{
          color: white;
        }
        .purchase-btn:hover{background-color: #ffb340;}
      }
    }
    .purchase_none_btn{
      margin: 30px 0;
      display: flex;
      justify-content: center;

      form{

        #payjp_checkout_box{
          margin-bottom: 30px;

          input{
            border-radius: 100px;
            font-weight: 600;
            font-size: 20px;
            width: 400px;
            height: 50px;
            color: white;
            border: 1px solid ＃3CCACE;
          }

        }
      }
    }
  }
 
}

#payjp_checkout_box{
  input[type="button"]{
    background-color: #3CCACE !important;
    background-image: linear-gradient(#3CCACE 0,#3CCACE 48%,#3CCACE 100%) !important;
    border: 1px solid #3CCACE !important;
  }
}