.third-banner
  .catch-copy
    %p.text-small
      だれでもかんたん、人生を変えるフリマアプリ
    %p.text-big
      今すぐ無料ダウンロード！
  .download-btn
    = link_to "#" do
      = image_tag("apple.svg", class: 'a-btn')
    = link_to "#" do
      = image_tag("google-play-badge.svg", class: 'g-btn')
        