.wrapper
  %header
    .logo_frame
      = link_to image_tag("/assets/logo/logo.png", class: "furima-logo"), "/"

  .main
    .main__frame
      .main__box
        .main__box--title
          %h1 購入内容の確認
        %hr
