.wrapper
  %header
    .logo_frame
      = link_to image_tag("/assets/logo/logo.png", class: "furima-logo"), "/"

  .main
    .main__frame
      .main__box
        .main__box--title
          %h1 購入内容の確認
        %hr
        .main__box--product
          = image_tag("/assets/dummy.jpeg", alt: "product-img", class: "product-img")
          .contents
            .content 新品未使用！GUCCIのかわいいシャツ♪夏物レディースMサイズ
            .prices
              .product-price
                .title 商品価格
                .price ¥9,999,999
              .shipping-fee
                .title 送料
                .fee ¥0
        %hr
        .main__box--price
          %h2 支払い金額
          %h2.total-amount ¥9,999,999
        %hr
