* {
  box-sizing: border-box;
}

body{
  position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}
.my-page-header{
  padding: 0 60px;
  background-color: #fff;

  .header-inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    .main-header{
      position: relative;
      display: flex;
      align-items: center;

       .icon{
         padding-bottom: 10px;
         margin-right: 30px;
         border-radius: 4px;

         a{
           width: 140px;
           display: block;

            img{
             width: 100%;
             vertical-align: bottom;
           }
         }
       }

       .search-box{
         margin-left: auto;
         width: 100%;

         form{
           width: 100%;
           display: flex;
           margin-bottom: 5px;

           input{
             width: calc(100% - 26px);
             height: 36px;
             padding: 0 0 0 5px;
           }

           button{
             width: 36px;
             border: 0;
             cursor: pointer;
             background-color: #3CCACE;
             padding: 8px;

             .search-box__icon{
               margin: 0;
               padding: 0;

               img{
                 width: 100%;
                 vertical-align: bottom;
               }
             }
           }
         }
       }
    }

    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;

      .listsLeft{
        position: relative;
        display: flex;

        &__item--first{
          text-decoration: none;
          padding: 0;
        }

        &__item{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;

          a{
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }

          .displayNone{
            display: none;
          }

          .tree{
            z-index: 2;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;

            .categoryTree{
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
            }
          }
          .brandsPulldown{
            position: absolute;
            z-index: 1;
            background-color: #fff;
          }
        }
      }


      .listsRight{
        margin-left: auto;
        display: flex;

        &__item{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;

          a{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }

      }
    }
  }
}


.main{
  width: 700px;
  margin: 24px auto 0;
  padding: 0 0 40px;

  &__inside{
    float: none;
    width: 700px;

    .my-page-user-icon{
      height: 200px;
      position: relative;
      padding: 20px;
      background-image: image-url("pict-reason-01.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;

      >a{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #333;
      }

      a{
        text-decoration: none;

        figure{
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;

          img{
            vertical-align: middle;
            width: 60px;
            height: 60px;
          }
        }

        .user-name{
          margin: 8px 0 0;
          font-size: 14px;
        }

        .number{
          margin: 8px 0 0;
          font-size: 0;

          div{
            display: inline-block;
            font-size: 14px;

            span{
              margin: 0 0 0 8px;
              font-size: 16px;
            }
          }

          &__right{
            margin: 0 0 0 16px;
          }
        }
      }
    }

    .my-page-bought{
      margin: 40px 0 0;

      &__top{
        padding: 0 16px;
        font-size: 16px;
        line-height: 72px;
        background: #fafafa;
      }

      &__tabs{
        border: 0;
        background: #eee;
        font-size: 0;

        li{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;

          h3{
            font-size: 22px;

            a{
              position: relative;
              display: block;
              color: #333;
              font-size: 16px;
              line-height: 72px;
              text-decoration: none;
            }
          }
        }

        li.active{
          background: #fff;
        }
      }

      .contents{
        .my-page-item-list.tab-panel.active{
          display: block;

          .my-page-item-nothing{
            padding: 160px 0 60px;
            background-image: image-url("pict-reason-01.jpg");
            text-align: center;
            font-size: 16px;
            color: #33ccaa;
          }
        }

        .my-page-item-list.tab-panel{
          display: none;
        }
      }
    }
  }

  .main-contents{
    width: 100%;
  }

  


  .inside-chart{
    width: 700px;
    margin: 40px auto 0;

    nav{
      display: block;

      .my-page-nav-list{
        list-style: none;
      
        li{
          border-top: 1px solid #eee;

          .my-page-nav-list-item.active{
            background: #eee;
            font-weight: 600;
          }
          .my-page-nav-list-item{
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
          }

          a{
            text-decoration: none;
          }
        }
      }

      .my-page-nav-head{
        margin: 40px 0 0;
        font-size: 16px;
      }

      .my-page-nav-list.active{
        background: #eee;
        font-weight: 600;
      }

      .my-page-nav-list{
        margin: 8px 0 0;
        background: #fff;
      }

      ul{
        list-style: none;
      }
    }
  }
}

main{
  display: block;
}


