.show-main {
  padding: 40px;
  height: 1700px;


  .item-box {
    background-color: #ffffff;
    padding: 24px 40px 40px;
    width: 700px;
    margin: 0 auto;
    

    .item-name__box {
      margin-top: 16px;
      text-align: center;

      .item-name {
        font-size: 24px;
      }

      .item-wording {
        font-size: 14px;
        margin: 8px 0px 0px;
      }
    }
    .main_info {
      width: 100%;
      padding-top: 15px;
      display: flex;
    }
  
    .image_box {
      width: calc(700px - 360px);
      .main_image_box {
       .img_main {
          height: 300px;
          width: 300px;
         }
      }
      .sub_image_box {
        margin-top: 15px;
        display: flex;
        justify-content: left;
        .img_small {
          margin-right: 10px;
          height: 55px;
          width: 55px;
         }
      }
    }


        .table-box {
          font-size: 14px;
          max-width: 360px;
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          border-spacing: 0;

          
          th {
            padding: 8px;
            width: 117px;
            height: 41px;
            text-align: left;
            font-weight: 400;
            background-color: #eeeeee;
          }
            
          td {
            padding: 8px;
            width: 61%;
            background-color: #ffffff;
          }
                  
          td a {
            text-decoration: none;
            color: #3ccace;
          }

        }

        
    
    

    .item-price__box {
      margin-top: 24px;
      .item-price {
        font-size: 50px;
        font-family: sans-serif;
        text-align: center;
      }
    }

    .item-buy_btn {
      font-size: 24px;
      font-family: sans-serif;
      margin-top: 16px;
      text-align: center;
      color: #ffffff;
      &__blue {
        background-color: #3ccace;
      }
      &__gray{
        background-color: #aaaaaa;
      }


    }

    .item-description__inner {
      padding-top: 32px;
    } 

    }
  .commentBox {
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 24px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    textarea {
      width: 100%;
      height: 104px;
    }

    .noticeMsg {
      font-size: 14px;
      padding: 8px;
      margin: 10px 0px;
      background-color: #f8f8f8;
      text-align: left;
    }

    button {
      color: #ffffff;
      background-color: #3ccace;
      width: 391.19px;
      height: 52px;
      font-size: 18px;
      border: none;
      border-radius: 100px;
    }
  }

  .links {
    width: 700px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    li {
      float: left;
        a {
          text-decoration: none;
          color: #3ccace;
        }
    }

    .links-right {
      position: absolute;
      right: 0px;
    }
  }

  .relatedItems {
    .relatedItems-top {
      width: 700px;
      height: 33px;
      margin-left: auto;
      margin-right: auto;

      a {
        display: block;
        margin: 24px 0 8px;
        color: #3ccace;
        text-decoration: none;
        font-size: 22px;
      }

      .product-list__body {
        color: #333333;

        .name {
          font-size: 16px;
          text-align: left;
        }
        
        .deta-list {
          font-size: 16px;
          width: 233px;
          height: 95px;

          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
