
a {
  text-decoration: none;
  color: white;
  margin: 5px;
}


.header_logo {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  
}


.header_text {

  font-size: 40px;
  color: lightseagreen;
  font-family: monospace;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.label-1 {
  width: 40px;
  background-color: red;
  padding: 4px 8px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  margin: auto;
  // margin-bottom: 20px;
  margin-top: 30px;
}

.field {

font-size: 20px;
font-family: monospace;
background-color:#EEE;
width: 700px;
padding: 30px;
margin-bottom: 200px;
}

.field1 {

  width: 500px;
  // margin: auto;
  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  // text-align: center;
  // padding: 20px;
  
}

.field2 {

  width: 600px;
  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  padding: 30px;

}

.field22 {

  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  width: 550px;
  padding: 30px;
  margin: auto;
}

.field3 {

  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  width: 500px;
  padding: 30px;
  margin: auto;
}

.field4 {

  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  width: 500px;
  padding: 30px;
  margin: auto;
}

.field5 {

  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  width: 500px;
  padding: 30px;
  margin: auto;
}

.field6 {

  font-size: 20px;
  font-family: monospace;
  background-color:#EEE;
  text-align: center;
  width: 500px;
  padding: 30px;
  margin: auto;
  margin-bottom: 200px;
}


.button {
  font-family: monospace;
  display: inline-block;
  border-radius: 5%;
  font-size: 22pt;
  text-align: center;
  cursor: pointer;
  padding: 13px 100px;
  background: #ff0000;
  color: #ffffff;
  line-height: 1em; 
  transition: .3s;
  border: 2px solid #ff0000;
  margin-bottom: 100px;
}


.footer {
  background-color: #272727;
  // height: 200px;
  
  &__info {
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 30px;
  }

  &__logo {
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 30px;
  }
}
