* {
  box-sizing: border-box;
}

.wrapper{
  background-color: #f8f8f8;
  font-size: 14px;
  a{
    text-decoration: none;
  }
  header{
    .logo_frame{
      text-align: center;
      .furima-logo{
        width: 140px;
        vertical-align: middle;
        margin: 30px auto;
      }
    }
  }

  .main__frame{
    width: 800px;
    background-color: white;
    margin: 0 auto;

