* {
  box-sizing: border-box;
}

.wrapper{
  background-color: #f8f8f8;
  font-size: 14px;
  a{
    text-decoration: none;
  }
  header{
    .logo_frame{
      text-align: center;
      .furima-logo{
        width: 140px;
        vertical-align: middle;
        margin: 30px auto;
      }
    }
  }
  .main__frame{
    width: 800px;
    background-color: white;
    margin: 0 auto;
    .main__box{
      width: 400px;
      margin: 0 auto;
      padding: 30px 0;
      hr {
        width: 400px;
        height: 2px;
        background-color: #f8f8f8;
        border: 0;
      }
      h1{
        font-size: 24px;
        font-weight: 600;
      }
      h2{
        font-size: 20px;
        font-weight: 600;
      }
      h3{
        font-weight: 600;
      }
      &--title{
        text-align: center;
        margin-bottom: 30px;
      }
      &--product{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        .product-img{
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }
        .contents{
          margin-left: 20px;
          .content{
            margin-bottom: 10px;
          }
          .prices{
            .product-price{
              display: flex;
              justify-content: space-between;
              .title{
                margin-left: 120px;
              }
              .price{
                font-weight: 600;
              }
            }
            .shipping-fee{
              display: flex;
              justify-content: space-between;
              .title{
                margin-left: 120px;
              }
              .fee{
                font-weight: 600;
              }
            }
          }
        }
      }
