.pay{
  display: block;
  width: 700px;
  padding: 24px 0px;
  margin: 0px auto;
  background: rgb(255, 255, 255);

  .main_contents{

    .main_details{

      &__message{
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        padding: 24px 16px;
      }
    }
  }

  .purchased__links{
    display: flex;
    margin-top: 16px;
    text-align: center;
    justify-content: space-around;

    &__TopPage{
      
      &__btn{
        display: inline-block;
        width: 200px;
        background-color: #3ccace;
        min-height: 48px;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 50px; 
        color: white;
        font-size: 16px;
      }
      
    }

    &__index{

      &__btn{
        display: inline-block;
        width: 200px;
        background-color: #3ccace;
        min-height: 48px;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 50px; 
        color: white;
        font-size: 16px;
      }
    }
  }
}