.wrapper {
  background-color: #fafafa;
    header {
      padding: 0 60px;
      margin: 0 auto;
      height: 97.55px;
      background-color: #ffffff;
        .header-lnner {
          padding-top: 15px;
          margin: 0px 140px;
          width: 100%;
          min-height: 82px;
          max-width: 1040px;
          margin: 0 auto;
          .nav {
            display: flex;
            font-size: 14px;
            margin-bottom: 10px;
            .listsleft {
              display: flex;
              position: relative;
                
                  .listsleft-first__item a{
                    text-decoration: none;
                    color: #333333;
                    line-height: 32px;
                    padding-right: 30px;
                  }
                  .brandBtn {
                    padding-right: 30px;
                      
                  }
                    .listsleft-second__item a {
                      text-decoration: none;
                      color: #333333;
                      padding-right: 30px;
                      line-height: 32px;
                    }
            }
            .listsright {
              display: flex;
              margin-left: auto;
              .listsright-first__item a{
                text-decoration: none;
                color: #333333;
                line-height: 32px;
                align-items: center;
                padding-left: 16px;
              }
              .listsright-second__item a{
                text-decoration: none;
                color: #333333;
                line-height: 32px;
                padding-left: 32px;
              }
            }
          }
          .main-header {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            .icon {
              margin-right: 30px;
            }
            .link {
              display: block;
            }
            .searchbox {
              width: calc(100% - 26px);
              height: 32px;
              padding-left: 5px;
            }
            button {
              width: 36px;
              height: 36px;
              border: 0px;
              cursor: pointer;
              background-color: #3ccace;
              padding: 8px;
            }
          }
        }
          
    }
    .breadCrumbs {
      width: 100%;
      border-top: 1px solid #eeeeee;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      position: relative;
      padding: 0 60px;
      height: 55px;
      background-color: #ffffff;
        .ul {
          padding: 17px 0 16px;
          width: 100%;
          max-width: 1040px;
          font-size: 14px;
          margin: 0 auto;
          margin: 0 140px;
            .li{
              float: left;
              padding-right: 10px;
            }
            .li a {
              text-decoration: none;
              color: #333333;
            }
        }
        
    }
  .show-main {
    padding: 40px;
    height: 1700px;
    margin: 0 auto;
      .item-box {
        background-color: #ffffff;
        margin: 40px 370px 0;
        padding: 24px 40px 40px;
          .item-name__box {
            margin-top: 16px;
            text-align: center;
              .item-name {
                font-size: 24px;
              }
              .item-wording {
                font-size: 14px;
                margin: 8px 0px 0px;
              }
          }
          .item-main {
            display: flex;
            margin-top: 16px;
            width: 620px;
            height: 520px;
              .item-table {
                margin: 0 37.5px;
                  .table-box {
                    font-size: 14px;
                    float: right;           
                    margin: 0 auto;
                    border-collapse: collapse;
                    border: 1px solid #f5f5f5;
                    border-spacing: 0;
                  }
                    th {
                      padding: 8px;
                      width: 117px;
                      height: 41px;
                      text-align: left;
                      font-weight: 400;
                      background-color: #eeeeee;
                      
                    }
                    td {
                      padding: 8px;
                      width: 61%;
                      background-color: #ffffff;
    
                    }
                    td a {
                      text-decoration: none;
                      color: #3ccace;
                    }
              }
          }
          .item-price__box {
            margin-top: 24px;
              .item-price {
                font-size: 50px;
                font-family: sans-serif;
                text-align: center;
              }
          }
          .item-buy__btn {
              .item-buy {
                margin-top: 16px;
                text-align: center;
                background-color: #3ccace;
                color: #ffffff;
                font-size: 24px;
                font-family: sans-serif;
              }
          }
        .item-description__inner {
          padding-top: 32px;
        } 
      }
      .commentBox {
        text-align: center;
        background-color: #ffffff;
        margin-top: 10px;
        padding: 24px;
        width: 652px;
        margin-left: auto;
        margin-right: auto;
          textarea {
            width: 100%;
            height: 104px;
          }
          .noticeMsg {
            font-size: 14px;
            padding: 8px;
            margin: 10px 0px;
            background-color: #f8f8f8;
            text-align: left;
          }
          button {
            color: #ffffff;
            background-color: #3ccace;
            width: 391.19px;
            height: 52px;
            font-size: 18px;
            border: none;
            border-radius: 100px;
            
          }
      }
      .links {
        width: 700px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
          li {
            float: left;
              a {
                text-decoration: none;
                color: #3ccace;
              }
          }
          .links-right {
            position: absolute;
            right: 0px;
          }
      }
      .relatedItems {
        .relatedItems-top {
          width: 700px;
          height: 33px;
          margin-left: auto;
          margin-right: auto;
            a {
              display: block;
              margin: 24px 0 8px;
              color: #3ccace;
              text-decoration: none;
              
              font-size: 22px;
            }
              .product-list__body {
                color: #333333;
                  .name {
                    
                    font-size: 16px;
                    text-align: left;
                  }
                  .deta-list {
                    font-size: 16px;
                    width: 233px;
                    height: 95px;
                      ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      }
                  }
              }
        }
      }
  }
  .appBanner {
    width: 1360px;
    height: 159px;
    background-image: url('iphone.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
      .inner {
        color: #ffffff;
        text-align: center;
          .inner__title {
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 24px;
            font-weight: bold;
            line-height: 1.4;
          }
          .inner__text {
            font-size: 35px;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
          }
          .inner__icon {
            display: flex;
            justify-content: center;
            margin: 20px auto 0;
              .gBtn {
                margin-left: 5px;
              }
          }
      }
  }
  
  footer {
    background-color: #272727;
    color: #ffffff;
    text-align: center;
    padding: 60px 0;
    .contents {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content {
        display: flex;
        flex-direction: column;
        width: 263.2px;
         a {
          color: #ffffff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }

      }
    }
    .footer__logo {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
    }
    .purchaseBtn {
      width: 90px;
      background-color: #3ccace;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
      height: 86px;
      .purchaseBtn__text {
        color: #ffffff;
        display: block;
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 5px; 
      }
      .c {
        vertical-align: bottom;
      }
    }
  }
  

  

  
}