
a {
  text-decoration: none;
  color: white;
  margin: 5px;
}



.header {

  &__text {
    font-size: 40px;
    color: lightseagreen;
    font-family: monospace;
    text-align: center;
    
   }

  &__logo {
   padding-top: 50px;
   margin-bottom: 100px;
  text-align: center;
  }

}

.user-information {

background-color:#EEE;
text-align: center;
width: 600px;
padding: 50px;
margin: auto;
margin-top: 100px;
margin-bottom: 200px;



  &__nickname {
    font-family: monospace;
    font-size: 20px;
  }
  .label-1 {
    width: 30px;
    background-color: red;
    padding: 4px 8px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }


  &__nickname--form {
    height: 40px;

  }

  &__realname {
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
  }

  &__realname--form {
    height: 30px;
  }

  &__realname_kana {
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
  }

  &__realname_kana--form {
    height: 30px;
  }

  &__birthday {
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
  }

  &__birthday--form {

  height: 30px;
  }

  &__password {
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
  }

  &__password--form {
    height: 30px;
  }

  &__mail {
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
  }

  &__mail--form {
   height: 30px;
 }

  &__submit {
    font-family: monospace;
    background-color: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 350px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
    margin: auto ;
    margin-top: 100px;
  }

}


.footer {
  background-color: #272727;
  height: 200px;
  
  &__info {
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 30px;
  }

  &__logo {
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 30px;
  }
}
