* {
  box-sizing: border-box;
}
.wrapper{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.product_header{
  height: 100px;
  width: 100%;
  background-color:#f5f5f5;;
  align-items: center;
  display: flex;
  justify-content: center;
  .header_logo{
    height: 49px;
    width: 185px;
  }
}
.listing_forms{
 align-items: center;

}
.product_image{
  height: 300px;
  width: 700px;
  background-color:white;
  padding: 20px;
  .label{

  }
}
.product_footer{
  width: 100%;
  text-align: center;

  .footer_logo {
    vertical-align: middle;
    height: 40px;
    width: auto;
    margin-bottom: 8px;
  }
}