* {
  box-sizing: border-box;
}
.wrapper{
  height: 100%;
  width: 100%;
  background-color: lightgray;
}
.product_header{
  height: 100px;
  width: 100%;
  background-color:lightgray;
  align-items: center;
  display: flex;
  justify-content: center;
  .header_logo{
    height: 49px;
    width: 185px;
  }
}

.product_image{
  height: 300px;
  min-width: 75%;
  background-color:lightcyan;
  .label{

  }
}