* {
  box-sizing: border-box;
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-seri;
}

.t-header{
  padding: 0 60px;
  &__up{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    .t-header__logo{
      position: relative;
      display: flex;
      align-items: center;
      .icon{
        margin-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    } 
  }
  .t-header__search{
    margin-left: auto;
    width: 100%;
    .form{
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      input{
        width: calc(100% - 26px);
        height: 36px;
        padding: 0 0 0 5px;
      }
      button{
        width: 36px;
        border: 0;
        cursor: pointer;
        background-color: #3CCACE;
        padding: 8px;

        .t-header__search-icon{
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }
    &__under{
    font-size: 14px;
    display: flex;
    margin: 10px 0 20px 0;
    a{
      display: flex;
      align-items: center;
      color: #333;
      text-decoration: none;
    }

    .left-side{
      display: flex;
      text-decoration: none;
      #small-name{
        font-size: 12px;
      }
      .left-side__category{
        &--parent, &--child, &--grandchild{
          display: none;
        }
        &:hover{
          .left-side__category--parent{
            background-color: #fff;
            display: block;
            position: absolute;
            z-index: 1;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
            li{
              height: 30px;
              padding: 5px 10px;
              &:hover{
                background-color: #3CCACE;
                .left-side__category--child{
                  background-color: #fff;
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 100%;
                  width: 100%;
                  height: 500px;
                  z-index: 1;
                  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
                }
                li{
                  height: 25px;
                  padding: 4px 10px;
                  &:hover{
                    background-color: #3CCACE;
                    .left-side__category--grandchild{
                      background-color: #fff;
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 100%;
                      width: 110%;
                      height: 750px;
                      z-index: 1;
                      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
                    }
                    li{
                      height: 25px;
                      padding: 4px 10px;
                    }
                  }
                }
              }
            }
          }
        }

      }


      &__brand{
        margin-left: 30px;
      }
    }
  }
    .right-side{
      margin-left: auto;
      display: flex;
      &__register{
        margin-left: 30px;
      }
      &__logout{
        margin-left: 30px;
      }
    }
  }


.first-banner{
  background-image: image-url("bg-mainVisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 560px;
  padding: 0 60px;
  display: flex;
  align-items: center;

  &__content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;

    .catch-copy{
      color: #f8f8f8;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;

      .text-small{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      line-height: 1.77778;
      margin: 16px 0 0 0;
      }

    }
    .download-btn{
      display: flex;
      margin: 24px 0 0 0;

      .a-btn{
        width: 180px;
        margin-right: 10px;

        img{
          width: 100%;
          vertical-align: bottom;
        }
      }

      .g-btn{
        width: 180px;

        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}

.choice-point{
  padding: 60px 20px;
  background-color: #f8f8f8;

  .title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  .title::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .points{
    text-align: center;
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;

    .point{
      text-align: left;
      display: flex;
      flex-direction: column;
      margin: 16px 5% 0 0;
      width: 30%;
      align-items: center;

      &__image{
        margin-bottom: 20px;
        position: relative;
        .number{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
      .description-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span{
          color: #3CCACE;
        }
      }
      .description-text{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }  
    .point-last{
      margin: 16px 0 0;
    }
  }
}

.second-banner{
  background-image: image-url("bg-topMiddle.jpg");
  background-size: cover;
  background-position: bottom right;
  display: flex;
  height: 400px;
  align-items: center;

  .catch-copy{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left; 
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    .text-big{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }

    .text-small{
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
  }

  .download-btn{
    display: flex;

    a{
      margin-right: 10px;

      .a-btn{
        width: 180px;
      }

      img{
        vertical-align: bottom;
      }

      .g-btn{
        width: 180px;
      }
    }
  }
}

.furima-feature{
  background-color: #fff;
  padding: 60px 100px;
  width: 100%;

  .title{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  .title::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .features{
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .feature{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;

      &__image{
        line-height: 120px;
        width: 70%;
        margin: 0 auto;
      }

      &__description{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      
      .description-text{
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}

.pickup{
  height: 100%;
  margin: 50px 0;
  background-color:#f8f8f8;
  h3.title{
    color: #3CCACE;
    font-size: 24px;
    margin: 10px 0;
  }
  .title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .category__products{
    display: flex;
    margin-top: 20px;
    &--box{
      margin: 0 auto;
      .category__product{
        display: inline-block;
        margin: 0 10px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
        .category__product--img{
          width: 200px;
          height: 200px;
          position: relative;
          .img{
            width: 200px;
            height: 200px;
          }
          .sold__box{
            width: 0;
            height: 0;
            border-top: 50px solid #3CCACE ;
            border-right: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 50px solid #3CCACE ;
            position: absolute;
            &--text{
              transform: rotate(-45deg);
              font-size: 24px;
              margin: -20px 0px 0px -50px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
        .category__product--details{
          padding: 5px 20px;
          width: 200px;
          background-color: white;
          ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
              .fa{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
              .fa-star::before{
                content: "\f005";
              }
            }
          }
          .product__price{
            margin: 5px 0;
          }
        }
      }
      a:link{color: black;}
      a:visited{color: black;}
      a:active{color: black;}   
      a:hover{opacity: 0.5;}
      .p{
        font-size: 12px;
      }
    }
  }
}

.pickup:last-child{
  padding-bottom: 80px;
}

.third-banner{
  background-image: image-url("bg-appBanner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 40px;

  .catch-copy{
    color: #fff;
    text-align: center;
    .text-big{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .text-small{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
  }
  .download-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;

      img{
        vertical-align: bottom;
      }
      .a-btn{
        width: 180px;
        margin-right: 10px;
      }
      a{
        .g-btn{
          width: 180px;
        }
        img{
          vertical-align: bottom;
        }
      }
  }
}

.t-footer{
  padding: 60px 0;
  text-align: center;
  background-color: #272727;
  color: #fff;

  &__contents{
    display: flex;
    margin: auto;
    max-width: 840px;

    .content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      ul{
        list-style: none;

        a{
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }

  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;

    a{
      img{
        width: 100%;
        vertical-align: bottom;
      }
    }
    .footer__copylight{
      font-size: 14px;
    }
  }
}

a{
  .camera-btn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    line-height: 1;

    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-align: none;
      margin-bottom: 5px;
    }

    &__icon{
      width: 60px;
    }

    img{
      vertical-align: bottom;
    }
  }
}