* {
  box-sizing: border-box;

}
body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-seri;
}

hr {
  border-top-color: #efefef;
  border-left: 0 solid #efefef;
  border-bottom: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-top-style: solid;
  margin: 0;
}

a {
  text-decoration: none;
  
}


.wrapper{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
 }

.listing_forms{
  height: 100%;
  width: 100%;
  margin: 24px auto 0;
}

.from_section{
  height: auto;
  width: 700px;
  margin: 0 auto;
  background-color:white;
  padding: 40px;
  }

.section_line {
  border:solid #f5f5f5 ;
  border-width: 0px 0px 2px 0px;
}  

.input_style {
  padding: 16px 5px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.tax-yen,.result{
  padding-right: 5px;
}

.input_size_45 {
  height: 45px;
  width: 100%;
  padding: 0 16px;
}

.input_style-price{
  height: 45px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

.input_size_150 {
  height: 150px;
  width: 100%;
  padding: 16px;
}

@mixin selectbox_mb30 {
  width: 100%;
  height: 45px;    
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}

@mixin selectbox_mb15 {
  width: 100%;
  height: 45px;    
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

#parent__category {
  @include selectbox_mb15();
}
#child__category {
  @include selectbox_mb15();
}

#grandchild__category {
  @include selectbox_mb30();
}

#product_condition {
  @include selectbox_mb15();
}

#product_shipping_attributes_fee{
  @include selectbox_mb30();
}

#product_shipping_attributes_area {
  @include selectbox_mb30();
}

#product_shipping_attributes_handing_time {
  @include selectbox_mb30();
}

#product_shipping_attributes_shipping_type {
  @include selectbox_mb15();
}


.labels{
  font-weight: 600;
  display: flex;
  justify-content: start;
  }
  
.label{
    margin-right: 4px;
  }

  .label--gray {
    font-weight: 600;
    color: gray;
  }

.label__required{
    background-color: red;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    padding: 0 4px;
  }

.label__optional{
    background-color:#bfbfbf;
    border-radius: 2px;
    color:#ffff;
    font-size: 12px;
    padding: 0 4px;
  }

.mb_30{
  margin-bottom: 30px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mr_5 {
  margin-right: 5px;
}

.mt_30 {
  margin-top: 30px;
}

.a_blue{
  color: #3CCACE;
}

.font_red{
  color: red;
}

.image_upload{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  &__btn{
    width: 620px;
    height: 150px;
    background-color: #f5f5f5;
    border-style: dashed;
    border-color: #ccc;
    border-width: 1px;
    text-align: center;
    position: relative;
    .btn_contents{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 20px;
    }
      .file{
        display: none;
      }
      .text{
        font-size: 12px;
      }
  }
}
.text_counter {
    text-align: right;
    font-size: 12px;
    color: #888888;
  }

.input_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input_box{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.calculation_box {
  display: flex;
  justify-content: space-between;
}



.buttons{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 0 150px;
  }
  .btn{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 4px;
    &.listing{
      background-color: #3CCACE;
      color: white;
    }
    &.draft{
      background-color: #ccc;
    }
  }
  .text_link {
    text-align: center;
    a {
      color: #3CCACE;
    }
  }

.attention {
  font-size: 12px;
  a {
    color: #3CCACE;
    font-size: inherit;
  }
  span {
    font-size: inherit;
  }
}
